#pragma once

// Copy this file into secrets.h and enter your data
#define BLYNK_TEMPLATE_ID   "your_template_id"
#define BLYNK_TEMPLATE_NAME "your_template_name"
#define BLYNK_AUTH_TOKEN    "your_auth_token"
#define WIFI_SSID           "your_wifi_ssid"
#define WIFI_PASS           "your_wifi_pass"